<div class="EmberYoutube-player"></div>

{{#if this.showExtras}}
	<div class="EmberYoutube-extras">
		{{#if this.showControls}}
			<menu class="EmberYoutube-controls">
				<button {{action 'togglePlay'}}>{{#if this.isPlaying}}Pause{{else}}Play{{/if}}</button>
				<button {{action 'toggleVolume'}}>{{#if this.isMuted}}Unmute{{else}}Mute{{/if}}</button>
			</menu>
		{{/if}}

		{{#if this.showProgress}}
			<p class="EmberYoutube-progress">
				<progress value={{this.currentTime}} max={{this.duration}}></progress>
			</p>
		{{/if}}

		{{#if this.showDebug}}
			<p class="EmberYoutube-debug">
				<code>
					ytid: {{this.ytid}}<br>
					playerState: {{this.playerState}}<br>
					isMuted: {{this.isMuted}}<br>
					isPlaying: {{this.isPlaying}}<br>
					currentTime: {{this.currentTime}}<br>
					duration: {{this.duration}}<br>
					volume: {{this.volume}}<br>
				</code>
			</p>
		{{/if}}
	</div>
{{/if}}

{{#if (has-block)}}
	<div class="EmberYoutube-yield">
		{{yield}}
	</div>
{{/if}}
